:root {
  --color-primary:#2E755B;
  --color-primary-light: #f4f9fB;
  --color-secondary: #f2ee85;
  --color-secondary-cold: #86cbd8;
  --color-accent: #f26d44;
  --color-dark: #263b58;
  --color-whatever: #467495;
  --color-neutral: #ddab86;
  --color-neutral-light: #f5edd9;

  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Oswald", sans-serif;
}

html {
  font-family: var(--font-primary);
  color: #fff;
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h2, h3, h4, h5, h6, label, legend {
  font-family: var(--font-primary);
  color: var(--color-dark);
}

p {
  font-family: var(--font-secondary);
  color: var(--color-dark);
  font-weight: normal;
  padding-bottom: .5em;
}

em {
  font-color: #fff;
  font-weight: normal;
  font-style: normal;
}

ul {
  font-family: var(--font-secondary);
  color: var(--color-accent);
  font-weight: normal;
  font-style: normal;
}

ol {
  font-family: var(--font-secondary);
  color: var(--color-whatever);
  font-weight: normal;
  font-style: normal;
}

dl {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-weight: normal;
  font-style: normal;
}

blockquote {
  font-family: var(--font-secondary);
  color:inherit: var(--color-primary);
  padding-bottom: .5em;
  padding-top: .5em;
}

strong, b {
  color: var(--color-dark);
  font-weight: bold;
}

i {
  font-style: italic;
  color: var(--color-dark);
}

abbr {
  font-family: var(--font-primary);
  font-weight: lighter;
}

ins {
  font-family: var(--font-secondary);
  font-weight: normal;
}

a {
  font-family: var(--font-secondary);
  font-weight: normal;
  color: #fff;
}

mark {
  background-color: var(--color-whatever);
  color: #fff;
}

.pic {
  width: 55%;
  height: 90%;
  margin-left: 2.5em;
}

.card {
  background-color: var(--color-primary-light);
  border-radius: 4px;
  display: inline-block;
  color: #fff;
}

.form {
  border-radius: 3px;
  border-color: var(--color-primary);
}

li {
  display: inline-block;
  color: #fff;
}

li:hover a {
  color: #fff;
  background-color: var(--color-secondary-cold);
  border-radius: 3px;
}

li:hover {
  background-color: var(--color-secondary-cold);
  border-radius: 3px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.masthead {
  background-color: var(--color-primary);
  color: #fff;
}

  .name {
    font-family: 'Oswald', sans-serif;
  }

.nav {
  background-color: var(--color-primary);
  padding-top: 1em;
}

@media only screen and (min-width: 68em) {

  .nav {
    text-align: right;
  }

}

.nav a {
  background-color: var(--color-primary);
  text-decoration: none;
  display: block;
  padding: .5em;
  text-decoration: none;
  list-style-type: none;
}

.end {
  background-color: var(--color-primary);
}

.subscribe {
  background-color: var(--color-secondary);
}

.dark-type {
  color: var(--color-dark);
}

.input {
  border: none;
}

.logo {
  width: 60%;
}

.orange-type {
  color: var(--color-accent);
}

.back {
  background-color: var(--color-primary-light);
}
