:root {
  --color-primary: #487159;
  --color-primary-light: #e2d7c3;
  --color-secondary: #bb865e;
  --color-accent: #de8975;
  --color-neutral-beige: #e5e5e5;
  --color-whatever: #aa443a;

  --font-primary: "Oswald, sans-serif", PT Sans, sans-serif;
  --font-secondary: "PT Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}
