.btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fffff;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary);
  border-color: var(--secondary);
}

.btn-ghost:hover {
  color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: #ffffff;
  border-color: var(--color-secondary);
}

.btn-light {
  background-color: var(--color-whatever);
  border-color: var(--color-whatever);
  color: #ffffff;
}

.btn-dark {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #ffffff;
}
