.btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-dark);
  border-color: var(--color-dark);
}

.btn-ghost:hover {
  color: var(--color-dark;
  background-color: var(--color-dark);
  color: #ffffff;
  border-color: var(--color-dark);
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary;
  color: #ffffff;
}

.btn-dark {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #ffffff;
}
