.pic {
  width: 55%;
  height: 90%;
  margin-left: 3.5em;
}

@media only screen and (min-width: 25em) {

  .pic {
    margin-left: 2.75em;
  }

  .card-flex {
    width: 49.5%;
  }

}

@media only screen and (min-width: 38em) {

  .pic {
    width: 60%;
  }

  .pic {
    margin-left: 3.75em;
  }

}

@media only screen and (min-width: 60em) {

  .pic {
    width: 70%;
  }

    .picture {
      margin-left: 2em;
    }

}

@media only screen and (min-width: 60em) {

  .pic {
    width: 60%;
    margin-left: 2em;
  }

}
