---
layout: default
---

<div class="grid grid-middle island">

<div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 island">
<img class="img-flex" src="/images/matcha.png" alt="The Matcha Box Mix product that you want to purchase.">
</div>

<div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 island">
<h2>Matcha Box Mix</h2>
<h6 class="max-length">A Unique Cider To Take The Edge Off</h6>
<p class="max-length">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate euismod mattis. Pellentesque elementum massa magna, id pulvinar risus fermentum vitae. Donec id dictum nisi, vitae faucibus sem. Suspendisse pellentesque ante ut lacus euismod, pharetra dignissim metus tincidunt.</p>
<p><b>Category:</b> Food & Drink</p>
<p class="tera">$5.79</p>
<p><b>Quantity:</b> 1</p>
{% pattern buttons/dark %}
</div>

</div>
