.picture {
  width: 100%;
}

.prod-banner {
  background-color: var(--color-secondary-cold);
  width: 100%;
}

.kale {
  width: 65%;
  transform: rotate(90deg);
  margin-left: 3.5em;
}

.banner-type {
  padding-top: 2em;
}

@media only screen and (min-width: 25em) {

  .kale {
  width: 30%;
  margin-left: 5em;
  position: relative;
  }

  .banner-type {
    text-align: left;
    position: absolute;
    max-width: 40%;
    left: 18em;
    top: 13.5em;
  }

  .hiding {
    visibility: hidden;
  }

}

@media only screen and (min-width: 38em) {

  .picture {
    width: 50%;
    margin-left: 3em;
  }

  .snacks {
    position: absolute;
  }

  .hiding {
    visibility: visible;
    position: absolute;
  }

  .banner-type {
    font-size: 70%;
    max-width: 50%;
    margin-left: 2em;
    top: 1.5em;
    left: 2em;
  }

  .prod-type {
    position: absolute;
    left: 32em;
    top: 16em;
  }

  .banner {
    position: relative;
    background-color: var(--color-secondary);
  }

}

@media only screen and (min-width: 60em) {

  .picture {
    width: 50%;
  }

  .subscribe {
    background-color: transparent;
}

  .banner-type {
    padding-top: 3em;
    max-width: 50%;
  }

  .hiding {
    position: absolute;
    top: 1.5em;
  }

  .top-ban {
    background-color: var(--color-secondary);
  }

  form {
    background-color: var(--color-secondary);
  }

  .prod-type {
    left: 35em;
  }

}

@media only screen and (min-width: 90em) {

  .kale {
    margin-left: 10em;
  }

  .prod-type {
    left: 42em;
  }

}
